<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED -->
	<!-- IF not OA_SOCIAL_LOGIN_DISABLE --> 
		<div class="oneall_social_login_providers" id="oneall_social_login_profile_{OA_SOCIAL_LOGIN_RAND}"></div>
			<script type="text/javascript">
				// <![CDATA[					            
					var _oneall = _oneall || [];
					_oneall.push(['social_login', 'set_providers', ['{OA_SOCIAL_LOGIN_PROVIDERS}']]);	
					
					<!-- IF OA_SOCIAL_LOGIN_USER_TOKEN -->
					_oneall.push(['social_link', 'set_user_token', '{OA_SOCIAL_LOGIN_USER_TOKEN}']);
					<!-- ENDIF -->
					
					<!-- IF OA_SOCIAL_LOGIN_CALLBACK_URI -->
						_oneall.push(['social_login', 'set_callback_uri', '{OA_SOCIAL_LOGIN_CALLBACK_URI}']);
					<!-- ELSE -->
						_oneall.push(['social_login', 'set_callback_uri', (window.location.href + ((window.location.href.split('?')[1] ? '&amp;' : '?')))]);
					<!-- ENDIF -->
					
					_oneall.push(['social_login', 'set_custom_css_uri', (("https:" == document.location.protocol) ? "https://secure" : "http://public") + '.oneallcdn.com/css/api/socialize/themes/magento/default.css']);
					_oneall.push(['social_login', 'do_render_ui', 'oneall_social_login_profile_{OA_SOCIAL_LOGIN_RAND}']);
				// ]]>
		</script>
	<!-- ENDIF -->
<!-- ENDIF -->