<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED  -->
	<!-- IF not OA_SOCIAL_LOGIN_DISABLE -->
		<td class="genmed" align="right">
			<!-- IF OA_SOCIAL_LOGIN_ERROR -->
				<div style="color:white;background-color:red;">[{L_OASL_TITLE}] {OA_SOCIAL_LOGIN_ERROR}</div>
			<!-- ELSE -->
				<div style="height:40px;width:200px;text-align:left; ">
					<span style="padding-left:15px">{L_OASL_WIDGET_TITLE}</span>
					<span class="oneall_social_login_providers" id="oneall_social_login_providers_{OA_SOCIAL_LOGIN_RAND}"></span>
					<!-- INCLUDE oa_social_login_library.html -->				
					<script type="text/javascript">
						// <![CDATA[					            
								var _oneall = _oneall || [];
								_oneall.push(['social_login', 'set_providers', ['{OA_SOCIAL_LOGIN_PROVIDERS}']]);	
								_oneall.push(['social_login', 'set_callback_uri', window.location.href]);
								<!-- IF OA_SOCIAL_LOGIN_CSS_THEME -->
								_oneall.push(['social_login', 'set_custom_css_uri','{OA_SOCIAL_LOGIN_CSS_THEME}']);
								<!-- ENDIF -->
								_oneall.push(['social_login', 'do_render_ui', 'oneall_social_login_providers_{OA_SOCIAL_LOGIN_RAND}']);
						// ]]>
					</script>
					<!-- oneall.com / Social Login for phpBB / v{OA_SOCIAL_LOGIN_VERSION} -->
				</div>
			<!-- ENDIF --> 
		</td>
	<!-- ENDIF -->
<!-- ENDIF -->