<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED  -->
	<!-- IF not OA_SOCIAL_LOGIN_DISABLE -->
		<td class="genmed" align="right">
			<!-- IF OA_SOCIAL_LOGIN_ERROR -->
				<div style="color:white;background-color:red;">[OneAll Social Login] {OA_SOCIAL_LOGIN_ERROR}</div>
			<!-- ELSE -->
				<div style="height:40px;width:200px;text-align:left; ">
					Login with a social network:
					<script src="{OA_SOCIAL_LOGIN_LIBRARY}" type="text/javascript"></script>
					<span class="oneall_social_login_providers" id="oneall_social_login_providers_{OA_SOCIAL_LOGIN_RAND}"></span>
					<script type="text/javascript">
						oneall.api.plugins.social_login.build("oneall_social_login_providers_{OA_SOCIAL_LOGIN_RAND}", {
							'providers' :  ['{OA_SOCIAL_LOGIN_PROVIDERS}'],
							'callback_uri': window.location.href,
							'css_theme_uri' : (("https:" == "{OA_SOCIAL_LOGIN_PROTOCOL}") ? "https://secure." : "http://public.") + 'oneallcdn.com/css/api/socialize/themes/phpbb/small.css'
						});
					</script>
					<!-- oneall.com / Social Login for phpBB / v{OA_SOCIAL_LOGIN_VERSION} -->
				</div>
			<!-- ENDIF --> 
		</td>
	<!-- ENDIF -->
<!-- ENDIF -->