#oneall_sociallogin  a,
#oneall_sociallogin  a.button1:hover {
	color: #BC2A4D;
	text-decoration: underline;
}

#oneall_sociallogin  a:hover,
#oneall_sociallogin  a.button1 {
	color: #105289;
	text-decoration: none;
}

#oneall_sociallogin .section {
	margin: 5px 0 20px 0;
}

#oneall_sociallogin .section.welcome {
	border: 1px solid #ccc;
	padding: 20px;
	background-color: #FFFFE0
}

#oneall_sociallogin .section.get_started {
	background-color: #DDDDDD;
	border: 1px dashed #AAAAAA;
	margin-bottom: 30px;
	overflow: hidden;
	padding: 10px;
}

#oneall_sociallogin .section.get_started h4 {
	margin-bottom: 10px;
	margin-top: 5px;
}

#oneall_sociallogin .section.welcome h3 {
	margin: 5px 0 10px;
}

#oneall_sociallogin .working_message {
	color: blue;
	background: url("img/status_loading.gif") no-repeat scroll 0 50% transparent;
	padding-left: 25px;
	margin-left: 10px;
	font-weight: bold;
}

#oneall_sociallogin .error_message {
	color: red;
	background: url("img/status_error.png") no-repeat scroll 0 50% transparent;
	padding-left: 25px;
	margin-left: 10px;
	font-weight: bold;
}

#oneall_sociallogin .error_message a {
	color: red;
	font-weight: bold;
}

#oneall_sociallogin .error_message a:hover {
	color: #C70000;
}

#oneall_sociallogin .success_message {
	color: green;
	background: url("img/status_ok.png") no-repeat scroll 0 50% transparent;
	padding-left: 25px;
	margin-left: 10px;
	font-weight: bold;
}

#oneall_sociallogin fieldset dl.dot {
	border-bottom: 2px dotted #ccc !important;
	padding: 5px 0 15px;
}

#oneall_sociallogin fieldset dl:last-child {
	border: 0 none;
	margin-bottom: 0;
	padding-bottom: 5px;
}

#oneall_sociallogin fieldset dl dt,
#oneall_sociallogin fieldset dl dd {
	border: 0 none;
}

#oneall_sociallogin .provider_box {
	border: 0 none;
	line-height: 34px;
}

#oneall_sociallogin .provider_box * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.oa_social_login_provider {
	background-image: url("img/sprite_35_35.png");
	text-indent: -9999px;
	height: 35px;
	width: 35px;
	display: inline-block;
	float: left;
	margin: 0 5px;
	cursor: pointer;
	padding: 0;
}

.oa_social_login_provider_vimeo {
	background-position: -2px -1px;
}

.oa_social_login_provider_blogger {
	background-position: -39px -1px;
}

.oa_social_login_provider_facebook {
	background-position: -76px -1px;
}

.oa_social_login_provider_foursquare {
	background-position: -113px -1px;
}

.oa_social_login_provider_google {
	background-position: -150px -1px;
}

.oa_social_login_provider_reddit {
	background-position: -187px -1px;
}

.oa_social_login_provider_linkedin {
	background-position: -224px -1px;
}

.oa_social_login_provider_windowslive {
	background-position: -261px -1px;
}

.oa_social_login_provider_livejournal {
	background-position: -298px -1px;
}

.oa_social_login_provider_myspace {
	background-position: -372px -1px;
}

.oa_social_login_provider_openid {
	background-position: -409px -1px;
}

.oa_social_login_provider_draugiem {
	background-position: -446px -1px;
}

.oa_social_login_provider_twitter {
	background-position: -520px -1px;
}

.oa_social_login_provider_vkontakte {
	background-position: -631px -1px;
}

.oa_social_login_provider_wordpress {
	background-position: -668px -1px;
}

.oa_social_login_provider_yahoo {
	background-position: -705px -1px;
}

.oa_social_login_provider_paypal {
	background-position: -742px -1px;
}

.oa_social_login_provider_stackexchange {
	background-position: -779px -1px;
}

.oa_social_login_provider_steam {
	background-position: -816px -1px;
}

.oa_social_login_provider_mailru {
	background-position: -853px -1px;
}

.oa_social_login_provider_skyrock {
	background-position: -890px -1px;
}

.oa_social_login_provider_github {
	background-position: -927px -1px;
}

.oa_social_login_provider_disqus {
	background-position: -964px -1px;
}

.oa_social_login_provider_youtube {
	background-position: -1001px -1px;
}

.oa_social_login_provider_odnoklassniki {
	background-position: -1038px -1px;
}

.oa_social_login_provider_deviantart {
	background-position: -1075px -1px;
}

.oa_social_login_provider_twitch {
	background-position: -1112px -1px;
}

.oa_social_login_provider_amazon {
	background-position: -1149px -1px;
}

.oa_social_login_provider_instagram {
	background-position: -1186px -1px;
}

.oa_social_login_provider_battlenet {
	background-position: -1223px -1px;
}

.oa_social_login_provider_dribbble {
	background-position: -1260px -1px;
}

.oa_social_login_provider_line {
    background-position: -1445px -1px;
}

.oa_social_login_provider_soundcloud {
    background-position: -1482px -1px;
}

.oa_social_login_provider_meetup {
    background-position: -1408px -1px;
}

.oa_social_login_provider_storage {
    background-position: -1371px -1px;
}

.oa_social_login_provider_pinterest {
    background-position: -1297px -1px;
}

.oa_social_login_provider_pixelpin {
    background-position: -1334px -1px;
}

.oa_social_login_provider_xing {
    background-position: -483px -1px;
}