{#
/**
 * @file
 * Container in which the social network icons are displayed.
 * Available varaibles:
 * - cointainerid: randomly generated div id
 */
#}
<div class="social_login" style="margin:20px 0 10px 0">
 <div id="{{ containerid }}"></div>
</div>