<!-- IF not OA_SOCIAL_LOGIN_DISABLE -->
	<dl>
		<dt>
			<label>{L_OASL_PROFILE_TITLE}</label><br />
			<span>{L_OASL_PROFILE_DESC}</span>
		 </dt>
		 <dd>
			<!-- IF OA_SOCIAL_LOGIN_ERROR -->
				<div style="color:white;background-color:red;">[{L_OASL_TITLE}] {OA_SOCIAL_LOGIN_ERROR}</div>
			<!-- ELSE -->
				<!-- IF OA_SOCIAL_LINK_ERROR -->
						<div style="color:white;background-color:red;">{OA_SOCIAL_LINK_ERROR}</div>
				<!-- ENDIF -->
				<span class="oneall_social_login_providers" id="oneall_social_login_profile_{OA_SOCIAL_LOGIN_RAND}"></span>
				<!-- INCLUDE oa_social_login_library.html -->	
				<script type="text/javascript">
					// <![CDATA[					            
							var _oneall = _oneall || [];
							_oneall.push(['social_link', 'set_providers', ['{OA_SOCIAL_LOGIN_PROVIDERS}']]);	
							_oneall.push(['social_link', 'set_user_token', '{OA_SOCIAL_LOGIN_USER_TOKEN}']);
							_oneall.push(['social_link', 'set_callback_uri', '{OA_SOCIAL_LOGIN_CALLBACK_URI}']);
							_oneall.push(['social_link', 'do_render_ui', 'oneall_social_login_profile_{OA_SOCIAL_LOGIN_RAND}']);
					// ]]>
				</script>
				<!-- OneAll.com / Social Login for phpBB / v{OA_SOCIAL_LOGIN_VERSION} -->
			<!-- ENDIF -->
		</dd>
	</dl>
<!-- ENDIF -->